extends layout

block content
  div.container
    h1.text-center League
    p(id='league')
    div.row-fluid
      div.col-md-3.col-centered.login
        form(class='form-signin', action='/login', method='POST')
              input.form-control(type='text', name='username' placeholder='username',required, autofocus)
              input.form-control(type='password', name='password', placeholder='Password', required)
              button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
          #message
          if message
            h1.text-center.error-message #{message}
        a(href='/signup', class='btn btn-lg btn-primary btn-block') Create an account

  script(type="text/jsx" src="javascripts/build/league.js")
