extends layout

block content
  div.container
    h1.text-center League
    p(id='league')
    div.row-fluid
      div.col-md-3.col-centered.login
        form(class='form-signin', action='/login', method='POST')
              input(type='text', name='username' class='form-control', placeholder='Email',required, autofocus)
              input(type='password', name='password' class='form-control', placeholder='Password', required)
              button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
              span.clearfix
          a(href='/signup', class='text-center new-account') Create an account
          #message
          if message
            h1.text-center.error-message #{message}

  script(type="text/jsx" src="javascripts/build/league.js")
